@import './windows/pre-style';
@import './windows/html-style';
@import './windows/css-style';
@import './windows/javascript-style';
@import './windows/nodeJs';

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  #timeline {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .act {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  